
:root {
  --main-primary-color: #ff7f4d;
  --main-primarylight-color: #ffb07b;
  --main-primarydark-color: #c64f21;
  --main-secondary-color: #66bb6a;
  --main-secondarylight-color: #98ee99;
  --main-secondarydark-color: #338a3e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 300;
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

header img {
    margin: 0 auto;
}

.welcome-text {
    padding: 20px;
    max-width: 500px;
    /* margin: 0 auto; */
    margin-top: 30px;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
}

.input {
    /* margin: auto; */
    padding: 10px;
    width: 500px;
    height: 50px;
}

input {
  margin: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav h3 {
  margin: 15px;
  font-size: 32px;
}

.nav h3:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: var(--main-primarydark-color);
}

#add {
  display: none;
  margin: 10px;
}

#searchnav {
  display: none;
  flex-direction: row;
  margin: 0 auto;
}

#searchnav h3:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: var(--main-primarydark-color);
}

#searchnav h3 {
  margin: 15px;
  font-size: 32px;
}



.publish {
  padding: 10px;
  height: 70px;
  width: 250px;
  font-size: 36px;
  background-color: var(--main-secondary-color);
  border: none;
  margin: 10px;
}

select {
  font-size: 27px;
}

#addbtn {
  margin-top: 10px;
}

#showcase {
    /* text-align: center; */
    background-image: url(pics/background2.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 50vh;
    width: fit-content;
    margin: 0 auto;
    align-items: flex-start;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border:1px solid var(--main-primarydark-color);
  
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }
  
  input {
    font-size: 27px;
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }
  
  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  input[type="submit"] {
    /* Just a little styling to make it pretty */
    width: 70px;
    font-size: 30px;
    background: var(--main-secondary-color)
  }

.form {
  border: 1px solid black;
}

.showcase-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 20px;
  /* text-align: center; */
}

.showcase-inner a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: var(--main-primarydark-color)
}

h4 {
  font-size: 25px;
}

#addfood {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  /* border: 1px solid black; */
}
  #cards {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      flex-wrap: wrap;
      display: none;
  }

  .inner-card {
      height: fit;
      width: 265px;
      margin: 15px;
      /* background: var(--main-primary-color); */
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  }

  .inner-card img {
    height: 193px;
    width: 265px;
  }

  .inner-card h3 {
    text-align: center;
    font-size: 40px;
  }

  .inner-card h4 {
    text-align: center;
    font-size: 26px;
    color: var(--main-secondarydark-color);
    /* margin-top: -10px; */
  }

  .inner-card::after {
    content: "";
  }

  .arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .arrow span {
    margin-top: 5px;
    color: var(--main-secondary-color)
  }

  .detBtn {
    width: 134px;
    height: 34px;
    border: none;
    background: var(--main-secondary-color);
    color: black;
    margin: 10px;
    font-size: 19px;
  }

  .imgHolder {
    position: relative;
}
.imgHolder span {
    position: absolute;
    right: 104px;
    top: 10px;
    font-family: 'Open Sans';
    font-weight: 300;
    background-color: var(--main-primary-color);
    height: 23px;
    width: 174px;
    font-size: 19px;
}

i.fas.fa-home, i.fas.fa-car-side {
  margin: 5px;
  margin-top: 15px;
  font-size: 20px;
  color: var(--main-primary-color)
}

.shape {
  width: 500px;
  height: 500px;
  background: var(--main-primary-color);
}

.logo ::first-letter {
  color: blue;
}

span.material-icons.arrow {
  font-size: 45px;
}
.listitems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    margin: auto;
    text-align: center;
    width: 303px;
    list-style-type: none;
}

.listitems li {
    font-size: 1.6em;
    margin: 15px;
}